{% extends 'base.html' %}

{% block title %}
    Home Page
{% endblock %}

{% block content %}
    {% include 'messages.html' %}
    {% if upcoming_events %}
    <h1 class="text-center">Upcoming Events</h1>
    <div class="mb-5">
        <div class="row">
        {% for event in upcoming_events %}
            <div class="col-xs-12 col-sm-4">
                <div class="homecard" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('{% static 'img/evtbck.jpg' %}');">
                <div class="overlay"></div>
                <div class="card-category">LinkopKonet</div>
                <div class="card-description">
                    <h3>{{ event.title }}</h3>
                    <p>{{ event.description }}</p>
                </div>
                {% if event.host.photo %}
                    <img class="card-user avatar avatar-bordered" src="{{ event.host.photo.url }}">
                {% else %}
                    <img class="card-user avatar avatar-bordered" src="{% static 'img/avatar.png' %}">
                {% endif %}
                <a class="card-link" href="{% url 'event_details' event_id=event.pk %}" ></a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="alert alert-warning pop" role="alert">
        No Events Currently. Consider <a href="{% url 'create_event' %}">Hosting</a> One?
    </div>
{% endif %}
{% endblock %}