{% extends 'base.html' %}

{% block title %}
    Reset Password
{% endblock %}

{% block content %}
    <section class="vh-100">
        <div>
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="row g-0">
                            <div class="col-md-6 col-lg-5 d-none d-md-block">
                                <img src="{% static 'img/resimg.jpg' %}"
                                    alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem; height: 100%;" />
                            </div>
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5 text-black">
                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <i class="bi bi-x-diamond-fill fs-1"></i>
                                        <span class="h1 fw-bold mb-0">Password Reset</span>
                                    </div>
                    
                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Please check your email inbox and follow the instructions to reset your password.</h5>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}